<div class="container-box">
    <div class="header">
        <div class="QR">QR</div>
        <div><img src="http://localhost:3000/images/icon_signal.svg" class="icon-signal"><span>250 Ms</span></div>
        <div class="money"><img src="http://localhost:3000/images/icon_money.svg" class="icon-money"><span>IDR: 9.420.000</span></div>
        <img src="http://localhost:3000/images/icon_expand.svg" class="expand">
        <img src="http://localhost:3000/images/icon_burger.svg" class="expand">
    </div>


    <div class="upper-container">
        <div class="upper01">00-75</div>
        <div class="upper02">1 : 11</div>
        <div class="upper03">75 s</div>
         <div class="upper04">R718</div>
            <div class="dropdown">
                <button class="dropbtn">Table v</button>
                <div class="dropdown-content">
                    <a href="#">Table 1</a>
                    <a href="#">Table 2</a>
                    <a href="#">Table 3</a>
                </div>
            </div>
    </div>

    <div class="box-container">
        <div class="one-box-main-red">01</div>
        <div class="one-box-main-dark">02</div>
        <div class="one-box-main-red">03</div>
        <div class="one-box-main-dark">04</div>
        <div class="one-box-main-red">05</div>
        <div class="one-box-main-dark">06</div>
        <div class="one-box-main-red">07</div>
        <div class="one-box-main-dark">08</div>
        <div class="one-box-main-red">09</div>
        <div class="one-box-main-dark">10</div>
        <div class="one-box-main-dark">11</div>
        <div class="one-box-main-red">12</div>
    </div>

    <div class="middle-container">
    <table class="ex2" border="1">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>


    <div class="other-button-container">
        <div class="other-button">
            <div>Big (7-12)</div>
            <div>1 : 1</div>
        </div>
        <div class="other-button-purple">
            <div>Small (1-6)</div>
            <div>1 : 2</div>
        </div>
        <div class="other-button-green">
            <div>Odd</div>
            <div>1 : 2</div>
        </div>
        <div class="other-button-brown">
            <div>Even</div>
            <div>1 : 2</div>
        </div>
        <div class="other-button-black">
            <div>Black</div>
            <div>1 : 2</div>
        </div>
        <div class="other-button-red">
            <div>Red</div>
            <div>1 : 2</div>
        </div>
    </div>
    </div>
    
    <div class="footer">
        <div class="button-x-container"><img src="http://localhost:3000/images/icon_x.svg" alt="x" width="500" height="600" class="button-x"></div>
        <div class="button-x-container"><img src="http://localhost:3000/images/icon_undo.svg" alt="x" width="500" height="600" class="button-x"></div>
        <div class="button-save-container"><img src="http://localhost:3000/images/icon_save.svg" alt="x" width="500" height="600" class="button-x"></div>
        <div class="button-refresh-container"><img src="http://localhost:3000/images/icon_refresh.svg" alt="x" width="500" height="600" class="button-x"></div>
        <div class="button-checklist-container"><img src="http://localhost:3000/images/icon_checklist.svg" alt="x" width="500" height="600" class="button-x"></div>
    </div>

</div>

<div class="little-box">
    <img src="http://localhost:3000/images/money.png">
</div>

